<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.something.saura.dusyllabus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Bcom.Sem1.sub1ofsem1"></activity>
        <activity android:name=".Bcom.Sem1.sub2ofsem1"></activity>
        <activity android:name=".Bcom.Sem1.subofsem1"></activity>
        <activity android:name=".Bcom.Sem1.sub3ofsem1"></activity>
        <activity android:name=".Bcom.Sem1.sub4ofsem1"></activity>
        <activity android:name=".Bcom.Sem1.sub5ofsem1"></activity>
        <activity android:name=".Bcom.Sem2.sub1ofsem2"></activity>
        <activity android:name=".Bcom.Sem2.subofsem2"></activity>
        <activity android:name=".Bcom.Sem2.sub5ofsem2"></activity>
        <activity android:name=".Bcom.Sem2.sub4ofsem2"></activity>
        <activity android:name=".Bcom.Sem2.sub3ofsem2"></activity>
        <activity android:name=".Bcom.Sem3.sub2ofsem3"></activity>
        <activity android:name=".Bcom.Sem2.sub2ofsem2"></activity>
        <activity android:name=".Bcom.Sem3.sub1ofsem3"></activity>
        <activity android:name=".Bcom.Sem3.subofsem3"></activity>
        <activity android:name=".Bcom.Sem3.sub5ofsem3"></activity>
        <activity android:name=".Bcom.Sem3.sub4ofsem3"></activity>
        <activity android:name=".Bcom.Sem3.sub3ofsem3"></activity>
        <activity android:name=".Bcom.Sem3.sub6aofsem3"></activity>
        <activity android:name=".Bcom.Sem3.sub6ofsem3"></activity>
        <activity android:name=".Bcom.Sem3.sub6dofsem3"></activity>
        <activity android:name=".Bcom.Sem3.sub6cofsem3"></activity>
        <activity android:name=".Bcom.Sem3.sub6bofsem3"></activity>
        <activity android:name=".Bcom.Sem4.subofsem4"></activity>
        <activity android:name=".Bcom.Sem4.sub6ofsem4"></activity>
        <activity android:name=".Bcom.Sem4.sub6dofsem4"></activity>
        <activity android:name=".Bcom.Sem4.sub6cofsem4"></activity>
        <activity android:name=".Bcom.Sem4.sub6bofsem4"></activity>
        <activity android:name=".Bcom.Sem4.sub6aofsem4"></activity>
        <activity android:name=".Bcom.Sem4.sub5ofsem4"></activity>
        <activity android:name=".Bcom.Sem4.sub4ofsem4"></activity>
        <activity android:name=".Bcom.Sem5.sub4fofsem5"></activity>
        <activity android:name=".Bcom.Sem5.sub4eofsem5"></activity>
        <activity android:name=".Bcom.Sem5.sub4dofsem5"></activity>
        <activity android:name=".Bcom.Sem5.sub4cofsem5"></activity>
        <activity android:name=".Bcom.Sem5.sub4bofsem5"></activity>
        <activity android:name=".Bcom.Sem5.sub4aofsem5"></activity>
        <activity android:name=".Bcom.Sem4.sub3ofsem4"></activity>
        <activity android:name=".Bcom.Sem5.sub2ofsem5"></activity>
        <activity android:name=".Bcom.Sem4.sub2ofsem4"></activity>
        <activity android:name=".Bcom.Sem5.sub1ofsem5"></activity>
        <activity android:name=".Bcom.Sem4.sub1ofsem4"></activity>
        <activity android:name=".Bcom.Sem5.subofsem5"></activity>
        <activity android:name=".Bcom.Sem5.sub4gofsem5"></activity>
        <activity android:name=".Bcom.Sem5.sub4ofsem5"></activity>
        <activity android:name=".Bcom.Sem5.sub4hofsem5"></activity>
        <activity android:name=".Bcom.Sem6.sub4hofsem6"></activity>
        <activity android:name=".Bcom.Sem6.sub4gofsem6"></activity>
        <activity android:name=".Bcom.Sem6.sub4fofsem6"></activity>
        <activity android:name=".Bcom.Sem6.sub4eofsem6"></activity>
        <activity android:name=".Bcom.Sem6.sub4dofsem6"></activity>
        <activity android:name=".Bcom.Sem6.sub4cofsem6"></activity>
        <activity android:name=".Bcom.Sem6.sub4bofsem6"></activity>
        <activity android:name=".Bcom.Sem6.sub4aofsem6"></activity>
        <activity android:name=".Bcom.Sem6.sub2ofsem6"></activity>
        <activity android:name=".Bcom.Sem6.sub1ofsem6"></activity>
        <activity android:name=".Bcom.Sem6.subofsem6"></activity>
        <activity android:name=".Bcom.Sem6.sub4ofsem6"></activity>
        <activity android:name=".Bcom.Sem6.sub4iofsem6"></activity>
        <activity android:name=".Bcom.Sem6.sub3ofsem6"></activity>
        <activity android:name=".Bcom.Sem5.sub3ofsem5"></activity>
        <activity android:name=".more"></activity>
        <activity android:name=".Main.mainaactivity1"></activity>
        <activity android:name=".Main.mainaactivity2"></activity>
        <activity android:name=".Ba.Sem1.sub8ofsem1ba"></activity>
        <activity android:name=".Ba.Sem1.sub7ofsem1ba"></activity>
        <activity android:name=".Ba.Sem1.sub6ofsem1ba"></activity>
        <activity android:name=".Ba.Sem1.sub5ofsem1ba"></activity>
        <activity android:name=".Ba.Sem1.sub4ofsem1ba"></activity>
        <activity android:name=".Ba.Sem1.sub3ofsem1ba"></activity>
        <activity android:name=".Ba.Sem1.sub2ofsem1ba"></activity>
        <activity android:name=".Ba.Sem1.sub1ofsem1ba"></activity>
        <activity android:name=".Ba.sem3.subofsem3ba"></activity>
        <activity android:name=".Ba.sem2.subofsem2ba"></activity>
        <activity android:name=".Ba.Sem1.subofsem1ba"></activity>
        <activity android:name=".Ba.sem4.sub8ofsem4ba"></activity>
        <activity android:name=".Ba.sem3.sub8ofsem3ba"></activity>
        <activity android:name=".Ba.sem2.sub8ofsem2ba"></activity>
        <activity android:name=".Ba.sem4.sub7ofsem4ba"></activity>
        <activity android:name=".Ba.sem3.sub7ofsem3ba"></activity>
        <activity android:name=".Ba.sem2.sub7ofsem2ba"></activity>
        <activity android:name=".Ba.sem4.sub6ofsem4ba"></activity>
        <activity android:name=".Ba.sem3.sub6ofsem3ba"></activity>
        <activity android:name=".Ba.sem2.sub6ofsem2ba"></activity>
        <activity android:name=".Ba.sem4.sub5ofsem4ba"></activity>
        <activity android:name=".Ba.sem3.sub5ofsem3ba"></activity>
        <activity android:name=".Ba.sem2.sub5ofsem2ba"></activity>
        <activity android:name=".Ba.sem4.sub4ofsem4ba"></activity>
        <activity android:name=".Ba.sem2.sub4ofsem2ba"></activity>
        <activity android:name=".Ba.sem3.sub4ofsem3ba"></activity>
        <activity android:name=".Ba.sem4.sub3ofsem4ba"></activity>
        <activity android:name=".Ba.sem2.sub3ofsem2ba"></activity>
        <activity android:name=".Ba.sem3.sub3ofsem3ba"></activity>
        <activity android:name=".Ba.sem4.sub2ofsem4ba"></activity>
        <activity android:name=".Ba.sem3.sub2ofsem3ba"></activity>
        <activity android:name=".Ba.sem2.sub2ofsem2ba"></activity>
        <activity android:name=".Ba.sem2.sub1ofsem2ba"></activity>
        <activity android:name=".Ba.sem4.sub1ofsem4ba"></activity>
        <activity android:name=".Ba.sem3.sub1ofsem3ba"></activity>
        <activity android:name=".Ba.sem6.subofsem6ba"></activity>
        <activity android:name=".Ba.sem5.subofsem5ba"></activity>
        <activity android:name=".Ba.sem6.sub8ofsem6ba"></activity>
        <activity android:name=".Ba.sem5.sub8ofsem5ba"></activity>
        <activity android:name=".Ba.sem6.sub7ofsem6ba"></activity>
        <activity android:name=".Ba.sem5.sub7ofsem5ba"></activity>
        <activity android:name=".Ba.sem6.sub6ofsem6ba"></activity>
        <activity android:name=".Ba.sem5.sub6ofsem5ba"></activity>
        <activity android:name=".Ba.sem6.sub5ofsem6ba"></activity>
        <activity android:name=".Ba.sem5.sub5ofsem5ba"></activity>
        <activity android:name=".Ba.sem6.sub4ofsem6ba"></activity>
        <activity android:name=".Ba.sem5.sub4ofsem5ba"></activity>
        <activity android:name=".Ba.sem6.sub3ofsem6ba"></activity>
        <activity android:name=".Ba.sem5.sub3ofsem5ba"></activity>
        <activity android:name=".Ba.sem6.sub2ofsem6ba"></activity>
        <activity android:name=".Ba.sem5.sub2ofsem5ba"></activity>
        <activity android:name=".Ba.sem6.sub1ofsem6ba"></activity>
        <activity android:name=".Ba.sem5.sub1ofsem5ba"></activity>
        <activity android:name=".Ba_journalism.Sem5.subofsem5baj"></activity>
        <activity android:name=".Ba_journalism.Sem4.subofsem4baj"></activity>
        <activity android:name=".Ba_journalism.Sem3.subofsem3baj"></activity>
        <activity android:name=".Ba_journalism.Sem2.subofsem2baj"></activity>
        <activity android:name=".Ba_journalism.Sem1.subofsem1baj"></activity>
        <activity android:name=".Ba_journalism.Sem6.sub6ofsem6baj"></activity>
        <activity android:name=".Ba_journalism.Sem5.sub6ofsem5baj"></activity>
        <activity android:name=".Ba_journalism.Sem6.sub5ofsem6baj"></activity>
        <activity android:name=".Ba_journalism.Sem5.sub5ofsem5baj"></activity>
        <activity android:name=".Ba_journalism.Sem4.sub5ofsem4baj"></activity>
        <activity android:name=".Ba_journalism.Sem3.sub5ofsem3baj"></activity>
        <activity android:name=".Ba_journalism.Sem6.sub4ofsem6baj"></activity>
        <activity android:name=".Ba_journalism.Sem5.sub4ofsem5baj"></activity>
        <activity android:name=".Ba_journalism.Sem4.sub4ofsem4baj"></activity>
        <activity android:name=".Ba_journalism.Sem3.sub4ofsem3baj"></activity>
        <activity android:name=".Ba_journalism.Sem2.sub4ofsem2baj"></activity>
        <activity android:name=".Ba_journalism.Sem1.sub4ofsem1baj"></activity>
        <activity android:name=".Ba_journalism.Sem6.sub3ofsem6baj"></activity>
        <activity android:name=".Ba_journalism.Sem5.sub3ofsem5baj"></activity>
        <activity android:name=".Ba_journalism.Sem4.sub3ofsem4baj"></activity>
        <activity android:name=".Ba_journalism.Sem3.sub3ofsem3baj"></activity>
        <activity android:name=".Ba_journalism.Sem2.sub3ofsem2baj"></activity>
        <activity android:name=".Ba_journalism.Sem1.sub3ofsem1baj"></activity>
        <activity android:name=".Ba_journalism.Sem6.sub2ofsem6baj"></activity>
        <activity android:name=".Ba_journalism.Sem5.sub2ofsem5baj"></activity>
        <activity android:name=".Ba_journalism.Sem4.sub2ofsem4baj"></activity>
        <activity android:name=".Ba_journalism.Sem3.sub2ofsem3baj"></activity>
        <activity android:name=".Ba_journalism.Sem2.sub2ofsem2baj"></activity>
        <activity android:name=".Ba_journalism.Sem1.sub2ofsem1baj"></activity>
        <activity android:name=".Ba_journalism.Sem6.sub1ofsem6baj"></activity>
        <activity android:name=".Ba_journalism.Sem5.sub1ofsem5baj"></activity>
        <activity android:name=".Ba_journalism.Sem4.sub1ofsem4baj"></activity>
        <activity android:name=".Ba_journalism.Sem3.sub1ofsem3baj"></activity>
        <activity android:name=".Ba_journalism.Sem2.sub1ofsem2baj"></activity>
        <activity android:name=".Ba_journalism.Sem1.sub1ofsem1baj"></activity>
        <activity android:name=".Main.mainaactivity3"></activity>
        <activity android:name=".Pol_sci.Sem6.subofsem6pol"></activity>
        <activity android:name=".Pol_sci.Sem5.subofsem5pol"></activity>
        <activity android:name=".Pol_sci.Sem4.subofsem4pol"></activity>
        <activity android:name=".Pol_sci.Sem3.subofsem3pol"></activity>
        <activity android:name=".Pol_sci.Sem2.subofsem2pol"></activity>
        <activity android:name=".Pol_sci.Sem1.subofsem1pol"></activity>
        <activity android:name=".Main.mainaactivity4"></activity>
        <activity android:name=".Pol_sci.Sem4.sub15ofsem4pol"></activity>
        <activity android:name=".Pol_sci.Sem3.sub15ofsem3pol"></activity>
        <activity android:name=".Pol_sci.Sem4.sub14ofsem4pol"></activity>
        <activity android:name=".Pol_sci.Sem3.sub14ofsem3pol"></activity>
        <activity android:name=".Pol_sci.Sem4.sub13ofsem4pol"></activity>
        <activity android:name=".Pol_sci.Sem3.sub13ofsem3pol"></activity>
        <activity android:name=".Pol_sci.Sem4.sub12ofsem4pol"></activity>
        <activity android:name=".Pol_sci.Sem3.sub12ofsem3pol"></activity>
        <activity android:name=".Pol_sci.Sem4.sub11ofsem4pol"></activity>
        <activity android:name=".Pol_sci.Sem3.sub11ofsem3pol"></activity>
        <activity android:name=".Pol_sci.Sem6.sub10ofsem6pol"></activity>
        <activity android:name=".Pol_sci.Sem5.sub10ofsem5pol"></activity>
        <activity android:name=".Pol_sci.Sem4.sub10ofsem4pol"></activity>
        <activity android:name=".Pol_sci.Sem3.sub10ofsem3pol"></activity>
        <activity android:name=".Pol_sci.Sem2.sub10ofsem2pol"></activity>
        <activity android:name=".Pol_sci.Sem1.sub10ofsem1pol"></activity>
        <activity android:name=".Pol_sci.Sem6.sub9ofsem6pol"></activity>
        <activity android:name=".Pol_sci.Sem5.sub9ofsem5pol"></activity>
        <activity android:name=".Pol_sci.Sem4.sub9ofsem4pol"></activity>
        <activity android:name=".Pol_sci.Sem3.sub9ofsem3pol"></activity>
        <activity android:name=".Pol_sci.Sem2.sub9ofsem2pol"></activity>
        <activity android:name=".Pol_sci.Sem1.sub9ofsem1pol"></activity>
        <activity android:name=".Pol_sci.Sem6.sub8ofsem6pol"></activity>
        <activity android:name=".Pol_sci.Sem5.sub8ofsem5pol"></activity>
        <activity android:name=".Pol_sci.Sem4.sub8ofsem4pol"></activity>
        <activity android:name=".Pol_sci.Sem3.sub8ofsem3pol"></activity>
        <activity android:name=".Pol_sci.Sem2.sub8ofsem2pol"></activity>
        <activity android:name=".Pol_sci.Sem1.sub8ofsem1pol"></activity>
        <activity android:name=".Pol_sci.Sem6.sub7ofsem6pol"></activity>
        <activity android:name=".Pol_sci.Sem5.sub7ofsem5pol"></activity>
        <activity android:name=".Pol_sci.Sem4.sub7ofsem4pol"></activity>
        <activity android:name=".Pol_sci.Sem3.sub7ofsem3pol"></activity>
        <activity android:name=".Pol_sci.Sem2.sub7ofsem2pol"></activity>
        <activity android:name=".Pol_sci.Sem1.sub7ofsem1pol"></activity>
        <activity android:name=".Ba_journalism.Sem6.subofsem6baj"></activity>
        <activity android:name=".Pol_sci.Sem6.sub6ofsem6pol"></activity>
        <activity android:name=".Pol_sci.Sem5.sub6ofsem5pol"></activity>
        <activity android:name=".Pol_sci.Sem4.sub6ofsem4pol"></activity>
        <activity android:name=".Pol_sci.Sem3.sub6ofsem3pol"></activity>
        <activity android:name=".Pol_sci.Sem2.sub6ofsem2pol"></activity>
        <activity android:name=".Pol_sci.Sem1.sub6ofsem1pol"></activity>
        <activity android:name=".Pol_sci.Sem6.sub5ofsem6pol"></activity>
        <activity android:name=".Pol_sci.Sem5.sub5ofsem5pol"></activity>
        <activity android:name=".Pol_sci.Sem4.sub5ofsem4pol"></activity>
        <activity android:name=".Pol_sci.Sem3.sub5ofsem3pol"></activity>
        <activity android:name=".Pol_sci.Sem2.sub5ofsem2pol"></activity>
        <activity android:name=".Pol_sci.Sem1.sub5ofsem1pol"></activity>
        <activity android:name=".Pol_sci.Sem6.sub4ofsem6pol"></activity>
        <activity android:name=".Pol_sci.Sem5.sub4ofsem5pol"></activity>
        <activity android:name=".Pol_sci.Sem4.sub4ofsem4pol"></activity>
        <activity android:name=".Pol_sci.Sem3.sub4ofsem3pol"></activity>
        <activity android:name=".Pol_sci.Sem2.sub4ofsem2pol"></activity>
        <activity android:name=".Pol_sci.Sem1.sub4ofsem1pol"></activity>
        <activity android:name=".Pol_sci.Sem6.sub3ofsem6pol"></activity>
        <activity android:name=".Pol_sci.Sem5.sub3ofsem5pol"></activity>
        <activity android:name=".Pol_sci.Sem4.sub3ofsem4pol"></activity>
        <activity android:name=".Pol_sci.Sem3.sub3ofsem3pol"></activity>
        <activity android:name=".Pol_sci.Sem2.sub3ofsem2pol"></activity>
        <activity android:name=".Pol_sci.Sem1.sub3ofsem1pol"></activity>
        <activity android:name=".Pol_sci.Sem5.sub2ofsem5pol"></activity>
        <activity android:name=".Pol_sci.Sem6.sub2ofsem6pol"></activity>
        <activity android:name=".Pol_sci.Sem4.sub2ofsem4pol"></activity>
        <activity android:name=".Pol_sci.Sem3.sub2ofsem3pol"></activity>
        <activity android:name=".Pol_sci.Sem2.sub2ofsem2pol"></activity>
        <activity android:name=".Pol_sci.Sem1.sub2ofsem1pol"></activity>
        <activity android:name=".Pol_sci.Sem6.sub1ofsem6pol"></activity>
        <activity android:name=".Pol_sci.Sem5.sub1ofsem5pol"></activity>
        <activity android:name=".Pol_sci.Sem4.sub1ofsem4pol"></activity>
        <activity android:name=".Pol_sci.Sem3.sub1ofsem3pol"></activity>
        <activity android:name=".Pol_sci.Sem2.sub1ofsem2pol"></activity>
        <activity android:name=".Pol_sci.Sem1.sub1ofsem1pol"></activity>

    </application>

</manifest>